.container {
    padding: 0 0 100px 0;
    margin-bottom: 0;
}

.containerStatistics {
    height: 423px;
    width: 404px;
    border-radius: 7px;
    background-color: #1A2D7D;
    box-shadow: 6px 32px 45px 0 rgba(36, 53, 157, 0.13);
}

.divTitle {
    margin: 0 0 0 72px;
}

.title {
    font-family: Gotham;
    font-style: oblique;
    font-size: 30px;
    color: #103460;
    line-height: 36px;
    margin-bottom: -5px;
}

.divHr {
    height: 2px;
    padding: 0;
    margin: 0;
}

.divHr hr {
    height: 2px !important;
    margin: 19px 0 0 20px;
    width: 570px !important;
    padding: 0;
}

.card {
    display: flex;
    height: 79px;
    width: 207px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 0 0 0 72px;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    background-color: #1884FF;
    box-shadow: 0 15px 30px 0 rgba(24,132,255,0.54);
}

.card:hover span{
    color: #FFFFFF;
}

.cardSelected {
    display: flex;
    height: 79px;
    width: 207px;
    border-radius: 4px;
    background-color: #1884FF;
    margin: 0 0 0 72px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 15px 30px 0 rgba(24,132,255,0.54);
}

.cardSelected span{
    color: #FFFFFF;
}

.card2Selected {
    display: flex;
    height: 79px;
    width: 207px;
    border-radius: 4px;
    background-color: #1884FF;
    margin: 0 0 0 60px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 15px 30px 0 rgba(24,132,255,0.54);
}

.card2Selected span{
    color: #FFFFFF;
}

.card2 {
    display: flex;
    height: 79px;
    width: 207px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 0 0 0 60px;
    align-items: center;
    cursor: pointer;
}

.card2:hover {
    background-color: #1884FF;
    box-shadow: 0 15px 30px 0 rgba(24,132,255,0.54);
}

.card2:hover span{
    color: #FFFFFF;
}

.spanText {
    color: #9C9AB5;
    font-family: Gotham;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.49px;
    line-height: 18px;
}

.spanNum {
    color: #103460;
    font-family: Gotham;
    font-style: italic;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: right;
    margin: 0 0 0 auto;
}

.confirm {
    height: 86px;
    width: 740px !important;
    background-image: url('./../../../Assets/IMG/Oval + Oval + Oval Mask.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 0 0 72px;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    border-radius: 5px;
}

.confirm span {
    margin: 0 0 0 auto
}

.progressBar {
    display: flex;
    width: 45%;
    align-items: center;
    margin: 25px auto;
}

.titleProgress {
    color: #FFFFFF;
    font-family: Gotham;
    font-style: oblique;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.86px;
    line-height: 36px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.infoProgress {
    height: 105px;
    width: 332px;
    border-radius: 19px;
    background-color: rgba(198, 198, 205, 0.13);
    display: flex;
    margin: auto;
}

.divPoint {
    position: 'absolute';
    bottom: '25px';
    width: '100%';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}

.textCompleted {
    margin: 19px 0 0 38px;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: oblique;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

.divHours {
    display: flex;

}

.divHours h2 {
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 45px;
    letter-spacing: 0;
    line-height: 56px;
    margin: 0 15px 0 15px;
}

.divHours span {
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: oblique;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 29px;
    margin: auto 0 5px 0;
}

.divDivisor{
    height: 50px;
    width: 1px;
    border: 1px solid #C6C6CD;
    margin: auto 0;
}